

.image-view-container {
  height: 85vh;
  background-color: gray;
  padding: 3rem 16rem;
}

.content {
  height: 85%;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  padding: 2rem;
  padding-top: 1rem;
}

.image-view-container img{
  width: 100%;
  height: 50%;
}

.close-icon {
  position: absolute;
  right: -6px;
  top: -10px;
}

.view-container {
  height: 70%;
}

.view-container img {
  width: 100%;
  height: 100%;
}

.image-view-user-container {
  width: 100%;
  height: 5%;
  padding: 1rem;
  display: flex;
  margin-bottom: 2rem;
}

.image-view-user-container img {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

.image-view-user-content {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.image-view-user-content p {
  margin: 0.1rem 0.5rem;
  font-weight: 600;
}

.image-view-user-content span {
  font-size: 0.8em;
  font-weight: 300;
  align-self: center;
}

.image-view-container .button-container {
  margin: 2rem 0;
}