.container {
  padding: 5rem;
}

.search-bar {
  margin: 2rem;
  margin-left: 0;
  margin-bottom: 5rem;
  width: 30%;
  position: relative;
}

.search-bar input {
  width: 95%;
  padding: 0.5rem 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.search-icon {
  position: absolute;
    top: -4px;
    left: 88%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    background-color: #1cc0dd;
    align-items: center;
    border-radius: 2rem;
}

.search-icon i {
  color: white;
}

.image-item {
  position: relative;
  transition: 0.5s;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 0.5rem;
  position: relative;
  bottom: 0.5rem;
  transition: 0.5s;
}

.image-container .image-item img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}

.user-container {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.image-container .image-item .user-container img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
}

.user-container p {
  color: white;
  font-size: 1em;
  font-weight: 600;
}

.user-container span {
  color: #1cc0dd;
}

.button-container {
  display: flex;
  width: 100%;
  margin: 2rem;
  justify-content: center;
}

.button-container button {
  background-color: #1cc0dd;
  border: none;
  padding: 0.5rem;
  color: white;
}